.barre-action {
    height: 120px; /* Ajoutez la hauteur souhaitée de votre div */
    background: linear-gradient(to bottom right, #0100AB, #040127);
    border: #c5c5c5 5px solid;
    border-radius: 20px;
    position: fixed;
    bottom: 0;
    width: 99.4%; /* Assure que la barre prend toute la largeur de l'écran */
    z-index: 999; /* Assure que la barre est au-dessus du reste du contenu */
}

.back-barre-action {
    background-color: black;
}

.h1-barre-action {
    margin: 0%;
}